*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Add a background image */
body {
  background-image: url('./assets/headphone1.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the landing page container */
.landing-page {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Style the welcome text */
.landing-page h2 {
  font-size: 66px;
  margin-bottom: 20px;
}

.landing-page p {
  font-size: 28px;
}

